body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(17,54,71);
    font-size: 12px;
}
.box {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}
fieldset {
    border: 3px solid dodgerblue;
}
legend {
    text-align: center;
    border: 1px solid dodgerblue;
    padding: 10px;
    border-radius: 8px;
    background-color: dodgerblue;
    color: white;
}
.inputBox {
    position: relative;
}
.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px; 
}
.inputUser:focus ~ .labelInput {
    top: 20px;
    font-size: 12px;
}
button {
    align-self: center;
    background-color: dodgerblue;
    border: none;
    color: white;
    border-radius: 5px;
    height: 25px;
}
button[type="submit"]:hover {
    background-color: #0056b3;
    border-radius: 5px;
}
img#brasao {
    width: 50%;
    vertical-align: middle;
    position: relative;
    bottom: 8px;
}